---
import { SITE_TITLE, SITE_EMAIL } from "../consts"
const { theme } = Astro.props
import { SITE_NAME } from "../consts"
const date = new Date()
const year = date.getFullYear();

---

  <div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
    <div class="content-body footer-wrapper">
      <div class="footer-box">
        <div class="foot-nav">
          <div class="foot-nav-items flex flex-col sm:grid gap-2 sm:gap-5 grid-cols-5 text-xs">
            <div class="item col-span-2">
              <div>
                <span class="logo">{SITE_TITLE}</span> By NBTCA
              </div>
              <div class="italic">
                To be at the intersection of technology and liberal arts.
              </div>

              <div class="mt-1 sm:mt-2 !text-xs">
                联系我们:
                <span class="ml-1"> <a class="!text-blue-500" href="mailto:contact@nbtca.space">{SITE_EMAIL}</a></span>
              </div>
            </div>

            <div class="item products">
              <div class="item-title">导航</div>
              <a href="/" target="_blank">主页</a>
              <a href="https://docs.nbtca.space" target="_blank">文档</a>
            </div>

            <div class="item community">
              <div class="item-title">社媒</div>
              <a href="https://github.com/nbtca" target="_blank">Github</a>
              <a href="https://qm.qq.com/q/djgZhpnlzW" target="_blank">QQ</a>
            </div>

            <div class="item">
              <div class="item-title">维修</div>
              <a href="https://nbtca.space/repair/create-ticket">预约维修</a>
            </div>

            <!-- <div class="item">
              <div class="item-title">维修</div>
              <a href="https://nbtca.space/repair/create-ticket">预约维修</a>
            </div> -->
          </div>
          <!-- <div class="flex text-xs mt-3">
            联系我们:
            <div class="ml-1"> <a href="mailto:contact@nbtca.space">{SITE_EMAIL}</a></div>
          </div> -->
        </div>
        <div class=" w-full">
          <div class="w-full h-[0.5px] my-4 bg-gray-500"> </div>
          <div class="flex flex-col gap-2 sm:flex-row items-start sm:items-center text-xs text-gray-500">
            <div class="">
              Copyright &copy; {`${year}  ${SITE_NAME}`}
            </div>
            <div>
              <a href="https://beian.miit.gov.cn/" target="_blank" class="text-xs">浙ICP备2021030831号</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
